@page "/EditSharedResource"

@using BlazorCRUD.Shared.Models

<EditForm Model="@Sr" OnValidSubmit="@OnCreate">
    <DataAnnotationsValidator/>
    <ValidationSummary />
<div class="grid">
    <div>Name<label for="@(() => Sr.Name)" /></div><div>ExpiredDate</div>
    <div ><InputText id="name" class="name" @bind-Value="@Sr.Name" /></div>
    <div>
        <input type="date" id="start" name="trip-start" @bind="Sr.ExpriedDate"
        min="2018-01-01" max="2099-12-31" class="cal">
    </div>
    <div class="grid_space"/>
    <div style="grid-column:1/-1;">Description</div><div class="col_merge"><textarea rows="4" @bind="Sr.Description" class="textarea"/></div>
    <div class="grid_space"/>
    <div>Cpu (@Sr.AllocationCpu/@Sr.LimitCpu) %</div>
    <div>Memory (@Sr.AllocationMemory/@Sr.LimitMemory) %</div>
    <div><input type="range" max="@Sr.LimitCpu" @bind="@Sr.AllocationCpu"  style="width:100%;"/></div>
    <div><input type="range" max="@Sr.LimitMemory" @bind="@Sr.AllocationMemory" style="width:100%;"/></div>
    <div class="grid_space"/>
     <div class="btn_layout">
        <button style="width:80px;" type="submit">Create</button>
        <button style="width:80px;" @onclick="OnCancel">Cancel</button>
    </div>
</div>
</EditForm>


